@import '../../styles/colours.scss';

.buttons {
    background-color: $default-white;
    border: none;
}

.buttonContainer {
    padding-right: 15px;
    display: inline-block;
}

.toolbar {
    border-bottom: 1px solid $default-lightgrey;
    margin-bottom: 10px;
}

.quotedText {
    background-color: #e7e7e7;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    border-radius: 4px;
    border-left: 3px solid $default-blue;
    border-top: 1px solid $default-lightgrey;
    border-bottom: 1px solid $default-lightgrey;
    border-right: 1px solid $default-lightgrey;
}

.userId {
    color: $default-blue;
    font-weight: bold;
    margin-bottom: 15px;
}
