@import '../../styles/colours.scss';

#title {
    color: $default-blue;
    font-size: large;
    font-weight: bold;
}

.titleContainer {
    padding-left: 10px;
}

.firstInfo {
    padding-left: 10px;
    font-size: small;
    color: $default-grey;
    display: inline-block;
}

.projectStatus {
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: small;
    border-left: 3px solid $default-blue;
    background-color: $default-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.icon {
    display: inline-block;
    margin-left: 5px;
}

.infoContainer {
    display: inline-block;
    margin-right: 5px;
}

#centreConsole {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0px;
    padding: 20px;
}

#keyInfoContainer {
    color: $default-blue;
    display: inline-block;
    font-size: small;
    text-align: center;
    background-color: $default-lightgrey;
    padding: 10px 10px;
    border-width: 1px;
    margin-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
    border-left: 1px solid $default-lightgrey;
    border-top: 1px solid $default-lightgrey;
    border-bottom: 1px solid $default-lightgrey
  }

#commentTime {
    color: $default-blue;
    border-bottom: solid 1px $default-lightgrey;
    padding: 5px 0px;
}

.container {
    padding: 0px 10px;
}

#keyInfo {
    font-weight: bold;
}

#contact {
    background-color: $default-blue;
    color: $default-white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px; 
}

.link {
    text-decoration: none;
    color: #8c8c8c;
}

.link:hover {
    color: inherit;
    text-decoration: underline;
}

.threadLink {
    text-decoration: none;
    color: #8c8c8c;
}

.requirements {
    color: $default-blue;
    font-weight: bold;
    border-bottom: 1px solid $default-lightgrey;
    padding: 5px 0px;
}

#descContainer {
    display: inline-block;
    font-size: small;
    background-color: $default-white;
    width: 100%;
    border-left: 1px solid $default-lightgrey;
    border-right: 1px solid $default-lightgrey;
    border-top: 1px solid $default-lightgrey;
    border-bottom: 1px solid $default-lightgrey;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}


.projectIdea:hover {
    background-color: $default-lightgrey;
    color: black;
}

.projDesc {
    font-size: medium;
}

#threadNo {
    float: right;
}

#iconPadding {
    padding-right: 10px;
    display: inline-block;
}

#iconPadding:hover {
    cursor: pointer;
    fill: white;
}

.innerContainer {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
}

.messageContainer {
    border-radius: 4px; 
    margin-top: 10px;
}

.replyButton {
    float: right;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.replyText {
    padding-left: 5px;
    display: inline-block;
}

#lastEdited {
    text-align: right;
    padding: 10px;
    color: #8c8c8c;
}
