@import '../../styles/colours.scss';

#title {
    color: $default-blue;
    font-size: large;
    font-weight: bold;
}

.titleContainer {
    padding-left: 10px;
}

.firstInfo {
    padding-left: 10px;
    font-size: small;
    color: $default-grey;
    display: inline-block;
}

.projectStatus {
    padding: 5px;
    margin-left: 10px;
    font-size: small;
    border-left: 3px solid $default-blue;
    background-color: $default-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.icon {
    display: inline-block;
    margin-left: 5px;
}

.infoContainer {
    display: inline-block;
    margin-right: 5px;
}

#centreConsole {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0px;
    padding: 20px;
}

#keyInfoContainer {
    color: $default-blue;
    width: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: small;
    text-align: center;
    background-color: $default-white;
    padding: 10px 10px;
    border-style: solid;
    border-color: $default-lightgrey;
    border-width: 1px;
    border-left: 3px solid $default-blue;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

.commentTime {
    font-size: small;
    color: $default-blue;
    border-bottom: solid 1px $default-lightgrey;
    padding: 5px;
}

#keyInfo {
    font-weight: bold;
}

#contact {
    background-color: $default-blue;
    color: $default-white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px; 
}

#link {
    text-decoration: 'none';
    color: inherit;
}

#requirements {
    color: $default-blue;
    border-bottom: 1px solid $default-lightgrey;
    padding: 5px;
    font-weight: bold;
}

#descContainer {
    width: 100%;
    margin-top: 10px;
    font-size: small;
    background-color: $default-white;
    border-style: solid;
    border-color: $default-lightgrey;
    border-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.projectIdea {
    margin-top: 10px;
    padding: 10px 0px;
    font-size: small;
}


.projectIdea:hover {
    background-color: $default-lightgrey;
    color: black;
}

.projDesc {
    font-size: medium;
    padding-left: 5px;
}