@import '../styles/colours.scss';

.header {
    background-color: $default-lightgrey;
    height: 197px;
}

.topbar {
    background-color: $default-blue;
    height: 162px;
}

#headertext {
    padding-top: 20px;
    font-weight: bold;
    font-size: 150%;
    color: $default-white;
}

#img {
    display: inline;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    top: 0;
}

#studentname {
    font-weight: bold;
    font-size: medium;  
    display: inline;
    float: right;
    padding-right: 20px;
    color: $default-white;
}

#projectname {
    font-weight: bold;
    font-size: medium;
    color: $default-white;
}

.subtext1 {
    font-weight: normal;
    font-size: small;
    color: $default-white;
}

.subtext2 {
    font-weight: normal;
    font-size: small;
    color: $default-white;
    padding-bottom: 20px;
}

.progressbar {
    color: $default-blue;
    font-size: small;
    list-style-type: none;
    padding-top: 32px;
}

#pageid {
    display: inline;
}

#title {
    color: $default-blue;
    font-size: medium;
    padding-top: 30px;
    font-weight: bold;
}

.subtitle {
    padding-top: 40px;
    color: $default-blue;
    font-weight: bold;
    font-size: small;
}

.checkbox {
    color: $default-blue;
    font-size: small;
}

.formspacer {
    padding: 10px;
}

.container {
    height: 50px;
    position: relative;
    padding-top: 100px;
}

.navbar {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.next {
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    background-color: $default-grey;
    color: $default-white;
    border: none;
}

.next:hover {
    background-color: #565a5d;
    color: $default-white;
}

.save {
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    background-color: $default-green;
    color: $default-white;
    border: none;
}

.save:hover {
    background-color: #178265;
    color: white;
}

#footer {
    text-align: center;
    background-color: $default-blue;
    color: $default-white;
    font-weight: normal;
    font-size: medium;
}

.body {
    color: $default-gold;
}