@import '../../styles/colours.scss';

#navigation {
  background-color: $default-blue;
  font-weight: 300;
  padding: 18px 0px;

  div.navbar-nav {
    margin: 0px 50px;
  }

  .navigationToggle {
    color: $default-white;
    border: 1px solid $default-white;
    padding: 10px;
    font-size: inherit;
  }

  .navigationToggle:focus {
    box-shadow: none;
  }

  a {
    color: $default-white;
    text-decoration: none;
  }

  #staticLinks {
    margin-right: 30px;
  }
}
