$default-blue: #05345C;
$default-gold: #937227;
$default-grey: #373A3C;
$default-green: #12664F;
$default-red: #DB3A34;
$default-black: #171717;
$default-lightblue: #6B87BB;
$default-lightgrey: #C4C4C4;
$default-white: #FFFFFF;

